In [184]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [322]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
707,tt0947802,20000000,27640028,Lakeview Terrace,Samuel L. Jackson|Patrick Wilson|Kerry Washing...,Neil LaBute,What Could Be Safer Than Living Next to a Cop?,A young interracial couple has just moved into...,110,Drama|Crime|Thriller,Screen Gems|Overbrook Entertainment,9/19/2008,5.8,2008
369,tt1071812,25000000,20719451,Mao's Last Dancer,Chi Cao|Chengwu Guo|Wen Bin Huang|Joan Chen|Br...,Bruce Beresford,æœ€åŽçš„èˆžè€…,"At the age of 11, Li was plucked from a poor C...",117,Drama|Romance,Great Scott Productions Pty. Ltd.,10/1/2009,6.7,2009
386,tt1250777,28000000,96188903,Kick-Ass,Aaron Taylor-Johnson|ChloÃ« Grace Moretz|Chris...,Matthew Vaughn,Shut up. Kick ass.,Dave Lizewski is an unnoticed high school stud...,117,Action|Crime,Lions Gate,3/22/2010,7.0,2010
1159,tt0263757,20000000,37095657,Uptown Girls,Brittany Murphy|Dakota Fanning|Marley Shelton|...,Boaz Yakin,They're about to teach each other how to act t...,"Molly Gunn, the freewheeling daughter of a dec...",92,Comedy,GreeneStreet Films|Metro-Goldwyn-Mayer (MGM),8/15/2003,6.2,2003
485,tt1314655,10000000,33583175,Devil,Chris Messina|Jacob Vargas|Bojana NovakoviÄ‡|L...,John Erick Dowdle,Bad Things Happen For A Reason,A group of people trapped in a elevator realiz...,80,Horror|Mystery|Thriller,Universal Pictures|Media Rights Capital|Night ...,1/13/2010,5.6,2010

In [186]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [289]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data.genres = data.genres.str.split('|') #Меняем разделение 

#получения столбца profit:
data['profit'] = data['revenue']-data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [290]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [291]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data.budget == data.budget.max()].original_title.iloc[0]

ВАРИАНТ 2

In [292]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [293]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [294]:
answers['2'] = data[data.runtime == data.runtime.max()].original_title.iloc[0] 
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [295]:
answers['3'] = data[data.runtime == data.runtime.min()].original_title.iloc[0] 
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [296]:
answers['4'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [297]:
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [298]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data.profit == data.profit.max()].original_title.iloc[0] 
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [299]:
answers['7'] = data[data.profit == data.profit.min()].original_title.iloc[0] 
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [300]:
answers['8'] = data[data.profit > 0].count().iloc[0]
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [301]:
data9 = data[data.release_year == 2008]
answers['9'] = pd.DataFrame(data9.groupby(['original_title'])['revenue'].max().sort_values(ascending = False)).index[0]
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [302]:
data10 = data[(data.release_year >=2012)&(data.release_year <=2014)]
answers['10'] = data10[data10.profit == data10.profit.min()]. original_title.iloc[0]
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [303]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = data.explode('genres').genres.value_counts().index[0]
answers['11']

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [304]:
answers['12'] = data.explode('genres').genres.value_counts().index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [305]:
data.director = data.director.str.split('|')
data13=data.explode('director')
answers['13'] = data13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [323]:
data14 = data.explode('genres')

answers['14'] = data14[data14['genres'].str.contains('Action')
                      ].director.str.split('|').explode().value_counts().index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [307]:
data.cast = data.cast.str.split('|')
data15 = data[data.release_year == 2012] #getting films from 2012 year
data15 = data15.explode('cast') #exploding DF by cast
answers['15'] = pd.DataFrame(data15.groupby(['cast']).revenue.sum().sort_values(ascending = False)).index[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [308]:
data16 = data[data.budget > data.budget.mean()]
answers['16'] = data16.explode('cast').cast.value_counts().index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [309]:
data17 = data.explode('cast')
answers['17'] = data17[data17.cast == 'Nicolas Cage'].explode('genres').genres.value_counts().index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [310]:
data.production_companies = data.production_companies.str.split('|')
data18 = data.explode('production_companies')
data18 = data18[data18.production_companies == 'Paramount Pictures']
answers['18'] = data18[data18.profit == data18.profit.min()].original_title.iloc[0]
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [311]:
answers['19'] = pd.DataFrame(data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [312]:
data18 = data.explode('production_companies')
data20 = data18[data18.production_companies.str.contains('Warner Bros')]
answers['20'] = data20.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [313]:
data21 = data
from datetime import datetime
data21.release_date = data21.release_date.apply(
                                    lambda x: datetime.strptime(x, '%m/%d/%Y'))
data21.release_date = data21.release_date.apply(lambda x: x.strftime('%B'))
answers['21'] = data21.release_date.value_counts().index[0]
answers['21']

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [324]:
from datetime import datetime
data22 = data
data22.release_date = data22.release_date.apply(
                                    lambda x: datetime.strptime(x, '%m/%d/%Y'))
data22.release_date = data22.release_date.apply(lambda x: x.strftime('%B'))

# Подсчитываем фильмы в летние месяцы
answers['22'] = data22.query('release_date in ["June", "July", "August"]').shape[0]
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [315]:
answers['23'] = data23 = data21.query('release_date in ["December", "January", "February"]'
                                     ).director.value_counts().index[0]
answers['23']

['Peter Jackson']

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [325]:
data.production_companies = data.production_companies.str.split('|') #меняем разделение

data24 = data.explode('production_companies') #дублируем все выражения, чтоы компании были раздельно на каждой строчке

data24['lenght'] = data24.original_title.apply(lambda x: len(x)) #создаём колонку с длинами
answers['24'] = data24[data24.lenght >data24.lenght.mean()].production_companies.value_counts().index[0]
answers['24']

'Universal Pictures'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [326]:
data24['ldis'] = data24.overview.apply(lambda x:len(x)) #добавили столбец с длиной описаний
answers['25'] = pd.DataFrame(data24.groupby(['production_companies'])['ldis'].mean()
                            ).sort_values('ldis', ascending = False).index[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [318]:
data26 = data[data.vote_average>data.vote_average.mean()].sort_values('vote_average', ascending = False)
answers['26'] = data26.original_title.iloc[0:17]
answers['26']

599                                   The Dark Knight
34                                               Room
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
138                          The Grand Budapest Hotel
128                                         Gone Girl
1191                                 12 Years a Slave
1183                          The Wolf of Wall Street
370                                         Inception
119                           Guardians of the Galaxy
872                                       The Pianist
124                                        Big Hero 6
1213                               Dallas Buyers Club
283                                        Mr. Nobody
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [327]:
from collections import Counter
from intertools import combinations
count = Counter()
for i in range(0, len(data)):
    data27 = data.cast[i].split('|')
    for j in list(combinations(data27, 2)):
        if j not in count:
            count[j] = 1
        else:
            count[j] += 1
answers['27'] = count.most_common(5)
answers['27']

ModuleNotFoundError: No module named 'intertools'

ВАРИАНТ 2

# Submission

In [328]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '23': ['Peter Jackson'],
 '26': 599                                   The Dark Knight
 34                                               Room
 118                                      Interstellar
 125                                The Imitation Game
 9                                          Inside Out
 1081    The Lord of the Rings: The Return of the King
 1800                                          Memento
 138                          The Grand Budapest Hotel
 128                                         Gone Girl
 1191                                 12 Years a Slave
 1183                          The Wolf of Wall Street
 370                                         Inception
 119                           Guardians of the Galaxy
 872                                       The Pianist
 124                                        Big Hero 6
 1213                               Dallas Buyers Club
 283                                        Mr. Nobody
 Name: original_title, dtype: object,
 '14': 'Robert Rodriguez',
 '22': 450,
 '24': 'Universal Pictures',
 '25': 'Midnight Picture Show'}

In [329]:
# и убедиться что ни чего не пропустил)
len(answers)

26